{% extends "app/layout.html" %}
{% load user_tags %}
{% block content %}
<hr>
<article class="media content-section">
  <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ object.date_modified|date:"F d, Y" }}</small>
          <!--<small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>-->
      </div>
      <h2>{{ object.name }}</h2>
      <div class="container">
          <div class = "row">
              <div class="col-md-6 col-xs-7">
                  <img src="{{ object.image.url }}" class="img-responsive"/>
              </div>
          </div>
      </div>
      <br>
      {% if object.teacher == user %}
        {% if "perms.main.change_exam template" %}
        <a class="btn btn-secondary" href="{% url 'main-update-exam-template' object.id %}">Zaktualizuj</a>
        {% endif %}
        {% if perms.main.add_exam %}
        <a class="btn btn-secondary" href="{% url 'main-create-exam' exam_template=object.id %}">Dodaj rozwiązanie</a>
        {% endif %}
        {% if "perms.main.delete_exam template" %}
        <a class="btn btn-danger" href="{% url 'main-delete-exam-template' object.id %}">Usuń</a>
        {% endif %}

      <h1>Rozwiązania studentów:</h1>
      {% for exam in exams %}
        <h2><a class="article-title" href="{% url 'main-exam-detail' exam.id %}">{{ exam.student.username }}</a></h2>
      {% endfor %}
      {% endif %}
    <!--<p class="article-content">{{ post.content }}</p>-->
  </div>
</article>
{% endblock %}
