{% extends "app/layout.html" %}
{% load user_tags %}
{% block content %}
<hr>
<article class="media content-section">
  <div class="media-body">
      <div class="article-metadata">
        Stworzone przez {{ object.teacher }}
        <small class="text-muted">{{ object.date_modified|date:"F d, Y" }}</small>
          <!--<small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>-->
      </div>
      <h2>{{ object.name }}</h2>
      <div class="container">
          <div class = "row">
              <div class="col-md-6 col-xs-7">
                  <img src="{{ object.image.url }}" class="img-responsive"/>
              </div>
          </div>
      </div>
      <br>
    <!--<p class="article-content">{{ post.content }}</p>-->
  </div>
</article>
{% endblock %}
